# Virtual environments
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (si son muy pesados y no se quieren en Git)
data/raw/
data/processed/

# IDE-specific
.vscode/
*.code-workspace
